In [106]:
import pandas as pd 

data = {"INKÖP":25, "OPA":29, "JS":27}

series = pd.Series(data)

series

INKÖP    25
OPA      29
JS       27
dtype: int64

In [107]:
# inedxing using iloc, integer location
series.iloc[0], series.iloc[-1]

(25, 27)

In [108]:
#we retrive our keys, which is the value before ":"
series.keys()

Index(['INKÖP', 'OPA', 'JS'], dtype='object')

In [109]:
#Very alike dicts where keys and a value is store, we can retrive the value to the key while stating out our key
series["OPA"]

29

In [110]:
#   DataFrames 
df_programs = pd.DataFrame(series, columns =["Number students"])
df_programs

       Number students
INKÖP               25
OPA                 29
JS                  27

In [111]:
df_programs["Number students"]

INKÖP    25
OPA      29
JS       27
Name: Number students, dtype: int64

In [112]:
df_programs = pd.DataFrame(
    {"Students": [25,30,30,27], "Langauge": ["Python", "C#", "Kotlin", "Java"] }, index=["AI", ".NET", "APP", "Java"]
)

df_programs

#we have index, student series, langauge series

      Students Langauge
AI          25   Python
.NET        30       C#
APP         30   Kotlin
Java        27     Java

In [113]:
df_programs.index

Index(['AI', '.NET', 'APP', 'Java'], dtype='object')

In [114]:
df_programs["Langauge"]

AI      Python
.NET        C#
APP     Kotlin
Java      Java
Name: Langauge, dtype: object

In [115]:
#Both students and language is series and we can specify them to get out only the students/langauge
df_programs["Students"]

AI      25
.NET    30
APP     30
Java    27
Name: Students, dtype: int64

In [116]:
#One series we get out the info about the langauge if we then specify which index we want we get out the specific value in this column, database logic 
df_programs["Langauge"][".NET"]

'C#'

In [117]:
#Find all programs with less than 28 students 
df_programs["Students"] < 28

AI       True
.NET    False
APP     False
Java     True
Name: Students, dtype: bool

In [118]:
df_programs[df_programs["Students"] < 28]

      Students Langauge
AI          25   Python
Java        27     Java

In [119]:
sorted_df_programs = df_programs.sort_values(by="Students", ascending=False)
sorted_df_programs

sorted_df_programs.head(3)

      Students Langauge
.NET        30       C#
APP         30   Kotlin
Java        27     Java

### Read from Excel

In [120]:
df = pd.read_excel("../data/calories.xlsx")
df

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [ ]:
df.head()

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ

EDA - Exploratory data analysis

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FoodCategory      2225 non-null   object
 1   FoodItem          2225 non-null   object
 2   per100grams       2225 non-null   object
 3   Cals_per100grams  2225 non-null   object
 4   KJ_per100grams    2225 non-null   object
dtypes: object(5)
memory usage: 87.0+ KB

In [ ]:
#Rows, columns
df.shape

(2225, 5)

In [ ]:
#Works better with numerical values - now we have objects, mixed
df.describe().T

                 count unique                top  freq
FoodCategory      2225     44  BakingIngredients    95
FoodItem          2225   1993         Roast Beef     4
per100grams       2225      2               100g  1802
Cals_per100grams  2225    524            100 cal    26
KJ_per100grams    2225    524             420 kJ    26

In [ ]:
df.columns

Index(['FoodCategory', 'FoodItem', 'per100grams', 'Cals_per100grams',
       'KJ_per100grams'],
      dtype='object')

In [ ]:
df["FoodCategory"].unique()

array(['CannedFruit', 'Fruits', 'Tropical&ExoticFruits', 'PotatoProducts',
       'Vegetables', 'FastFood', 'Pizza', 'Cheese', 'CreamCheese',
       'Milk&DairyProducts', 'SlicedCheese', 'Yogurt', 'Beef&Veal',
       'ColdCuts&LunchMeat', 'Meat', 'Offal&Giblets', 'Pork',
       'Poultry&Fowl', 'Sausage', 'Venison&Game', 'Cakes&Pies',
       'Candy&Sweets', 'IceCream', '(Fruit)Juices',
       'AlcoholicDrinks&Beverages', 'Beer',
       'Non-AlcoholicDrinks&Beverages', 'Soda&SoftDrinks', 'Wine',
       'CerealProducts', 'Oatmeal,Muesli&Cereals', 'Pasta&Noodles',
       'Dishes&Meals', 'Soups', 'Legumes', 'Nuts&Seeds', 'Oils&Fats',
       'VegetableOils', 'BakingIngredients', 'Fish&Seafood',
       'Herbs&Spices', 'Pastries,Breads&Rolls', 'Sauces&Dressings',
       'Spreads'], dtype=object)

In [ ]:
df["FoodCategory"].value_counts()

FoodCategory
BakingIngredients                95
Cakes&Pies                       91
Herbs&Spices                     90
Beer                             85
Candy&Sweets                     81
Pastries,Breads&Rolls            78
Dishes&Meals                     78
Oatmeal,Muesli&Cereals           76
FastFood                         72
Vegetables                       63
Legumes                          62
Fish&Seafood                     60
Fruits                           54
Sauces&Dressings                 54
Cheese                           53
Soups                            52
Non-AlcoholicDrinks&Beverages    51
AlcoholicDrinks&Beverages        48
Sausage                          47
(Fruit)Juices                    46
Meat                             46
IceCream                         45
Soda&SoftDrinks                  45
CerealProducts                   44
Pizza                            43
Pasta&Noodles                    40
Yogurt                           40
Nuts&Seeds                       39
Spreads                          39
Wine                             39
Pork                             39
Beef&Veal                        39
PotatoProducts                   39
Tropical&ExoticFruits            39
Venison&Game                     36
ColdCuts&LunchMeat               35
SlicedCheese                     34
Poultry&Fowl                     33
Offal&Giblets                    33
VegetableOils                    33
Milk&DairyProducts               33
Oils&Fats                        30
CannedFruit                      29
CreamCheese                      17
Name: count, dtype: int64

In [ ]:
df["per100grams"].value_counts()

per100grams
100g     1802
100ml     423
Name: count, dtype: int64