In [5]:
import pandas as pd 

data = {"INKÖP":25, "OPA":29, "JS":27}

series = pd.Series(data)

series

INKÖP    25
OPA      29
JS       27
dtype: int64

In [8]:
# inedxing using iloc, integer location
series.iloc[0], series.iloc[-1]

(25, 27)

In [9]:
#we retrive our keys, which is the value before ":"
series.keys()

Index(['INKÖP', 'OPA', 'JS'], dtype='object')

In [11]:
#Very alike dicts where keys and a value is store, we can retrive the value to the key while stating out our key
series["OPA"]

29

In [13]:
#   DataFrames 
df_programs = pd.DataFrame(series, columns =["Number students"])
df_programs

       number students
INKÖP               25
OPA                 29
JS                  27

In [19]:
df_programs["Number students"]

TypeError: list indices must be integers or slices, not str

In [21]:
df_programs = pd.DataFrame(
    {"Students": [25,30,30,27], "Langauge": ["Python", "C#", "Kotlin", "Java"] }, index=["AI", ".NET", "APP", "Java"]
)

df_programs

#we have index, student series, langauge series

      Students Langauge
AI          25   Python
.NET        30       C#
APP         30   Kotlin
Java        27     Java